node_modules/
npm-debug.log
src/*.js
src/**/*.js
src/*.map
src/**/*.map
src/*.d.ts
src/**/*.d.ts
test/*.js
test/**/*.js
test/*.js.map
test/**/*.js.map
test/*.d.ts
test/**/*.d.ts
util/*.js
util/**/*.js
util/*.d.ts
util/**/*.d.ts
util/*.js.map
util/**/*.js.map
